.space-cover {
  background-image: url("red-hand-drawn-cherry-seamless-pattern-pink-social-template_53876-116104.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;

    /* 👇 Added shadow border */
    background: rgba(255,255,255,0.6);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


/* Page containers */
.page {
    display: none;
    padding-top: 40px;
}

/* Login + Register box */
.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

/* Input groups for eye icon */
.input-group {
    position: relative;
    margin: 5px 0;
}

.input-group input {
    width: 90%;
    padding: 8px;
}

.eye {
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
    user-select: none;
}

button {
    padding: 8px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Portfolio layout */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.profile-img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.text-box {
    margin-left: 30px;
    max-width: 350px;
    text-align: left;
}

a {
    color: blue;
}

